<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User's Favorite Product</title>
</head>
<body>
  <button id="fetch-favorites">Fetch Favorites</button>
  <ul id="favorites"></ul>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/favorite.js"></script>
</body>
</html>
