<!-- favorite.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./styles/favorite.css">

     <!-- Google Fonts-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">




    <title>User Favorites</title>
</head>
<body>
    <h1>User Favorites</h1>
    <ul>
        <% data.forEach(item => { %>
            <li><%= item.title %> - <%= item.price %></li>
        <% }) %>
    </ul>
</body>
</html>
