<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Register</h1>
  <div id="account-login-form">
    <form action="/register" method="POST">
      <h1>Register</h1>
      <div class="new-firstname">
        <label for="name">First Name</label>
        <input type="text" name="input_first" class="form-control" id="new-name" placeholder="First Name">
      </div>
      <div class="new-lastname">
        <label for="name">Last Name</label>
        <input type="text" name="input_last" class="form-control" id="new-name" placeholder="Last Name">
      </div>
      <div class="new-email">
        <label for="login">Email address</label>
        <input type="email" name="email" class="form-control" id="login-email" placeholder="Enter email">
      </div>
      <div class="new-phone">
        <label for="login">Phone Number</label>
        <input type="phone" name="phone" class="form-control" id="login-phone" placeholder="Enter Phone Numer">
      </div>
      <div class="new-password">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="login-password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-dark">Register</button>
    </form>

  </div>
</body>

</html>
