* {
  margin: 0;
}
.navbar {
  background: #1A4314;
  font-family: Verdana;
  font-size: 20px;
  color: #CDCDCD;
  li{
    display: inline;

    a {
      color: #CDCDCD;
      text-decoration: none;
          padding: 14px 16px;
      &:hover {
      text-decoration: underline;
      }
    }
  }
  }
